:root {
   --grayColor: #afafaf;
   --navyBlueColor: #030820;
   --ltBlueColor: #062265;
   --dkGrayColor: #4b4b4b;
   --lightBlackColor: #4b4b4b;
   --ltGrayColor: #062265;
   --ltGreenColor: #b7fce1;
   --dkBlueColor: #062265;
   --greenColor: #08cc7f;
   --whiteColor: #ffffff;
   --h1: 1.1rem;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: 0;
   scroll-behavior: smooth;
}
body {
   font-family: "Poppins", sans-serif;
}

section {
   margin: 25px 0;
   padding: 30px 0;
}
p {
   /* font-size: 1rem; */
   font-size: var(--h1);
}

header {
   border-bottom: 2px solid #e4e4e4;
}
.box {
   border-right: 2px solid #e4e4e4;
   padding: 15px 0;
}
.box2 {
   border-left: 2px solid #e4e4e4;
   padding: 15px 0;
}

.topBar {
   display: flex;
   /* padding: 15px 0; */
}

.abcd {
   padding: 0 10px;
   text-decoration: none;
   color: var(--ltGrayColor);
   font-size: 0.875rem;
   font-weight: 500;
   align-items: center;
}
.abcd > a {
   text-decoration: none !important;
}
.mail {
   flex-grow: 1;
   display: flex;
   justify-content: space-between;
   padding: 0 10px;
   align-items: center;
}
.mail a {
   text-decoration: none;
   color: var(--ltGrayColor);
   font-size: 0.875;
   font-weight: 500;
   position: relative;
}
.mail a:nth-child(2):hover {
   text-decoration: underline;
}
.mail a:nth-child(2):hover::before {
   position: absolute;
   bottom: -2px;
   right: 0;
   content: "";
   width: 60%;
   height: 2px;
   background-color: var(--greenColor);
   border-radius: 100px;
}
.signup {
   padding: 0 10px;
}
.signup a:nth-child(1) {
   text-decoration: none;
   color: var(--ltGrayColor);
   font-size: 0.875;
   font-weight: 500;
   margin-right: 10px;
   position: relative;
}
.signup a:nth-child(1):hover {
   text-decoration: underline;
}
.signup a:nth-child(1):hover::before {
   position: absolute;
   bottom: -2px;
   right: 0;
   content: "";
   width: 60%;
   height: 2px;
   background-color: var(--greenColor);
   border-radius: 100px;
}
.donate {
   margin-left: 10px;
   text-decoration: none;
   border: 2px solid var(--greenColor);
   border-radius: 100px;
   padding: 7px 15px;
   background-color: var(--greenColor);
   color: white;
   font-size: 0.875rem;
   font-weight: 600;
}
.donate:hover {
   color: var(--greenColor);
   border: 2px solid var(--greenColor);
   background-color: white;
}
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo {
   display: flex;
}
.nav-links {
   background-color: white;
   display: flex;
   justify-content: space-around;
   width: 57%;
   padding-right: -5px;
}
.nav-links li {
   list-style: none;
}

.navbar-brand a {
   text-decoration: none;
   color: var(--ltGrayColor);
   font-weight: 700;
   font-size: 1.05rem;
   display: flex;
   justify-content: baseline;
   margin-top: 10px;
   margin-left: 5px;
}
.nav-links a {
   font-size: 1rem;
   font-weight: 500;
   color: var(--ltGrayColor);
   text-decoration: none;
   position: relative;
   margin: 0 auto;
   width: max-content;
}
.nav-links a:hover {
   text-decoration: underline;
}
.nav-links a:hover::before {
   position: absolute;
   bottom: -2px;
   right: 0;
   content: "";
   width: 60%;
   height: 2px;
   background-color: var(--greenColor);
   border-radius: 100px;
}
.navbar-brand p {
   color: var(--ltBlueColor);
   font-size: 0.9rem;
   opacity: 0.8;

   margin-top: -6px;
   margin-left: 5px;
}
.burger {
   display: none;
   cursor: pointer;
}
.burger div {
   width: 25px;
   height: 2px;
   background-color: var(--ltGrayColor);
   margin: 5px;
   transition: all 0.3s ease;
}
.navbars {
   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
   .nav-links {
      width: 100%;
   }
   .scroll {
      margin-top: 30px;
   }
   .content-right img {
      width: 10%;
   }
}

@media screen and (max-width: 993px) {
   /* body {
      overflow-x: hidden;
   } */
   section {
      margin: 40px 0;
      padding: 25px 25px;
   }
   .nav-links {
      position: absolute;
      left: 0px;
      height: 60%;
      top: 15vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(-100%);
      transition: transform 0.5s ease-in;
   }
   .nav-links li {
      opacity: 0;
   }
   .burger {
      display: block;
   }
   .circle img {
      display: none;
   }
   .scroll img {
      margin-top: 50px;
   }
}

.nav-active {
   transform: translateX(0%);
}
.hero {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 30px;
   margin-bottom: -30px;
   padding-left: 40px;
}
.hero h1 {
   font-size: 3.5rem;
   color: var(--ltBlueColor);
   padding-bottom: 5px;
   font-weight: 700;
}
.hero p {
   text-justify: auto;

   color: var(--ltBlueColor);
   padding: 5px 5px;
}
.donate2 {
   font-size: 0.9rem;
   font-weight: 600;
   text-decoration: none;
   border: 2px solid var(--greenColor);
   border-radius: 100px;
   padding: 10px 30px;
   background-color: var(--greenColor);
   color: white;
   margin-right: 10px;
}
.donate2:hover {
   color: var(--greenColor);
   border: 2px solid var(--greenColor);
   background-color: white;
}
.know {
   font-size: 0.9rem;
   font-weight: 600;
   text-decoration: none;
   border: 2px solid var(--ltBlueColor);
   border-radius: 100px;
   padding: 10px 30px;
   margin-left: 10px;
   color: var(--ltBlueColor);
}
.know:hover {
   color: white;
   border: 2px solid var(--ltBlueColor);
   background-color: var(--ltBlueColor);
}
.hero-btn {
   display: flex;
   flex-direction: row;
   list-style: none;
}

.pro {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-right: 25px;
}

.circle {
   position: relative;
   display: flex;
   justify-content: flex-end;
}
.size {
   width: 82%;
}
.scroll {
   display: flex;
   justify-content: center;
   margin-top: 10px;
}
/* Mission start here */

.section-title {
   text-align: center;
   margin: 25px 0;
}
.section-title h2 {
   font-size: 2.5rem;
   color: var(--ltBlueColor);
   text-decoration: underline;
   position: relative;
   margin: 0 auto;
   width: max-content;
}
.section-title h2::before {
   position: absolute;
   bottom: -6px;
   right: 0;
   content: "";
   width: 60%;
   height: 3px;
   background-color: var(--greenColor);
   border-radius: 100px;
}

.missionBg {
   background-image: url(/assets/images/mission/Group\ 191.svg);
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-size: 100%;
}
.cantent {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.tree {
   margin-top: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.tree img {
   width: 90%;
}
.mission-card {
   width: 65%;
   margin: 45px 0;
   border: none;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.mission-card:nth-child(2) {
   align-self: flex-end;
}
.mission-card:nth-child(1)::before {
   content: "1";
   position: absolute;
   font-size: 3.5rem;
   color: var(--greenColor);
   opacity: 0.6;
   top: -48px;
   font-weight: 500;
   left: 10px;
}
.mission-card:nth-child(2)::before {
   content: "2";
   position: absolute;
   font-size: 3.5rem;
   color: var(--greenColor);
   opacity: 0.6;
   top: -48px;
   font-weight: 500;
   left: 10px;
}
.mission-card:nth-child(3)::before {
   content: "3";
   position: absolute;
   font-size: 3.5rem;
   color: var(--greenColor);
   opacity: 0.6;
   top: -48px;
   font-weight: 500;
   left: 10px;
}
.cardCantent {
   padding: 15px 10px 15px 50px;
}

.cardCantent h4 {
   font-size: 1.5em;
   color: var(--ltBlueColor);
}

.cardCantent p {
   font-size: var(--h1);
   font-weight: 500;
   margin: 0;

   color: var(--ltGrayColor);
}

.aboutSection {
   background-image: linear-gradient(rgba(0, 0, 5, 0), var(--ltGreenColor));
}
.about-content {
   margin: 15px 0;
   padding: 30px 0;
}
.aboutSection .container {
   padding: 0;
}
.content-right {
   display: flex;
   justify-content: center;
   align-items: center;
}
.content-right img {
   width: 90%;
   margin-bottom: 15px;
}
.content-left {
   margin-top: 15px;
}
.content-left h3 {
   /* width: 75%; */
   font-size: 2.5rem;
   color: var(--ltBlueColor);

   font-weight: 500;
   padding: 5px 60px 5px 5px;
}
.content-left p {
   width: 70%;
   text-justify: auto;

   color: var(--ltBlueColor);

   padding: 5px 5px 5px 5px;
}

.know2 {
   font-size: 0.9rem;
   font-weight: 600;
   text-decoration: none;

   border: 2px solid var(--ltBlueColor);
   border-radius: 100px;
   padding: 10px 30px;
   margin-left: 10px;
   color: white;
   background-color: var(--ltBlueColor);
}
.know2:hover {
   color: var(--ltBlueColor);
   border: 2px solid var(--ltBlueColor);
   background-color: white;
}

.support {
   margin: 25px 0 20px 0;
   background-image: url(/assets/images/support/Group\ 148.png);
   border-top-left-radius: 4rem;
   border-bottom-right-radius: 4rem;
   padding: 80px 60px;
}

.support-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.support-content h3 {
   line-height: 50px;
   font-size: 2.5rem;
   color: white;
   font-weight: 600;
}
.support-content p {
   text-justify: auto;

   color: white;
   font-weight: 600;
}
.payment-btn {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.payment-btn a {
   background-color: white;
   padding: 10px 15px;

   border-radius: 10px 0 10px 0;
}
.blogSection {
   background-color: rgba(240, 240, 240, 10);
}
.blog-content {
   margin: 15px 0;
   padding: 30px 0;
}
.blog {
   margin-top: 30px;
}
.para {
   display: flex;
   justify-content: center;
}
.para p {
   width: 70%;
   margin: 60px 0;
   text-align: center;
}
.card-body {
   margin: 0;
   padding: 0;
}
.card-title {
   font-size: 1.4rem;
   color: var(--ltGrayColor);
   padding: 10px 0;
}
.card-body h5 {
   font-size: 1.4rem;
}

.card1 {
   margin: 0 auto;

   padding: 10px;
}

.blog-profile {
   text-decoration: none;
   display: flex;
}
.pro-name h5 {
   color: var(--ltGrayColor);
   font-size: 1.3rem;
   margin: 3px 0 -5px 10px;
}
.pro-name p {
   color: var(--ltGrayColor);
   font-size: 0.875rem !important;
   margin-top: 10px;
   margin: 5px 0 0 10px;
   font-weight: 500;
}
.date-time {
   display: flex;
   /* flex-direction: row; */
   justify-content: space-between;
   padding: 10px 50px 10px 0;
   font-size: 0.875rem !important;
   color: var(--ltBlueColor);
}
.date-time p {
   font-size: 0.875rem;
}
.card-text {
   font-size: var(--h1);
   margin-top: -10px;
   color: var(--ltBlueColor);
   font-weight: 500;
}
.team-content {
   padding-bottom: 30px;
}
.teamSection {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.teamSection > p {
   width: 70%;
   font-weight: 500;
}
.card2 {
   text-align: center;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
   padding: 30px 20px;
   margin-top: 30px;
   border-radius: 5px;
}
footer {
   background-color: #030820;
   padding: 60px 0 30px 0;
}
.logo2 {
   display: flex;
}
.footer-brand a {
   text-decoration: none;
   color: white;
   font-weight: 500;
   font-size: 2rem;
   display: flex;
   justify-content: baseline;
   margin-top: 10px;
   margin-left: 5px;
}
.footer-brand p {
   color: var(--grayColor);

   font-size: 1.2rem !important;
   margin-top: -6px;
   margin-left: 5px;
}
.footer-content1 P {
   color: var(--grayColor);
   font-size: 0.9rem;
}

.read {
   text-decoration: none;
   border: 2px solid var(--greenColor);
   border-radius: 100px;
   padding: 3px 25px;
   color: white;
   font-size: 13px;
   margin-left: 0;
}
.btn2 {
   margin: 25px 0;
   padding-left: 25px;
}
.read:hover {
   color: white;
   border: 2px solid var(--greenColor);
   background-color: var(--greenColor);
}
.section-title2 {
   text-align: center;
   margin: 20px 0;
}
.section-title2 h2 {
   font-size: 2rem;
   color: white;
   text-decoration: underline;
   position: relative;
   margin: 0 auto;
   width: max-content;
}
.section-title2 h2::before {
   position: absolute;
   bottom: -6px;
   right: 0;
   content: "";
   width: 60%;
   height: 3px;
   background-color: var(--greenColor);
   border-radius: 100px;
}

.importent-link {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.importent-link a {
   color: var(--grayColor);
   font-size: var(--h1);
   text-decoration: none;
   font-weight: 500;
   margin-top: 25px;
   margin-left: 75px;
   width: 50%;
   position: relative;
}
.importent-link a:hover {
   text-decoration: underline;
}
.importent-link a:hover::before {
   position: absolute;
   bottom: -2px;
   right: 30;
   content: "";
   width: 60%;
   height: 2px;
   background-color: var(--greenColor);
   border-radius: 100px;
}
.call2 {
   padding: 0 10px;
   text-decoration: none;
   color: var(--grayColor);
   font-size: var(--h1);
   font-weight: 500;
   align-items: center;
}
.mail2 {
   flex-grow: 1;
   display: flex;
   justify-content: space-between;
   padding: 0 10px;
}
.mail2 a {
   text-decoration: none;
   color: var(--grayColor);
   font-size: var(--h1);
   font-weight: 500;
}
.mail3 {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 0 10px;
}
.mail3 a {
   text-decoration: none;
   color: var(--grayColor);
   font-size: var(--h1);
   font-weight: 500;
}
.mail3 span {
   margin-left: 100px;
}

.footer-content2 P {
   color: var(--grayColor);
   font-size: var(--h1);
}
.footer-content1 > p {
   padding-left: 25px;
   font-size: var(--h1);
}
.main {
   border-bottom: 2px solid var(--dkGrayColor);
}
.copy {
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: var(--grayColor);
}
.copy1 {
   margin-top: 15px;
   font-size: 0.875rem;
   text-align: center;
}
.copy span {
   color: #08cc7f;
   text-decoration: underline;
}
.copy2 {
   margin-top: -20px;
   font-size: 0.875rem;
   text-align: center;
}
/* .cardCantent h4 {
   font-size: 1.5rem;
} */
@media screen and (max-width: 990px) {
   .content-right img {
      width: 65%;
   }
}

@media screen and (max-width: 768px) {
   section {
      padding: 20px;
   }
   footer {
      padding: 20px;
      align-items: flex-start;
   }
   .heroSection {
      padding-left: 0;
   }
   .hero {
      padding-left: 25px;
   }
   .hero h1 {
      font-size: 2.5rem;
   }

   .hero-btn {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
   }
   .donate2 {
      text-align: center;
      padding: 10px 30px;
   }
   .know {
      text-align: center;
      padding: 10px 30px;
   }
   header {
      display: none;
   }
   .mission-card:nth-child(2) {
      align-self: flex-start;
   }
   .mission-card {
      width: 100%;
   }
   .circle {
      display: none;
   }
   .ime {
      display: none;
   }
   .mission-card:nth-child(1)::before {
      top: -45px;
   }
   .mission-card:nth-child(2)::before {
      top: -45px;
   }
   .mission-card:nth-child(3)::before {
      top: -45px;
   }
   .support {
      border-top-left-radius: 3rem;
      border-bottom-right-radius: 3rem;
      padding: 80px 15px;
   }
   .support-content {
      text-align: center;
   }
   .support-content h3 {
      line-height: 30px;
      font-size: 2rem;
      color: white;
      font-weight: 600;
      margin-bottom: 30px;
   }
   .support-content p {
      margin-bottom: 45px;
   }
   .payment-btn {
      justify-content: center;
   }
   .content-right img {
      width: 70%;
   }
   .section-title2 h2 {
      margin: 0;
   }
   .importent-link {
      padding-left: 25px;
   }
   .content-left p {
      width: 100%;
   }
   .section-title2 p {
      padding-left: 11px;
   }
   .section-title h2 {
      font-size: 2rem;
   }
   .para p {
      width: 100%;
   }
   .scroll img {
      width: 15%;
   }
   .nav-links a:hover::before {
      text-decoration: underline;
      position: absolute;
      bottom: -2px;
      right: 0;
      content: "";
      width: 60%;
      height: 3px;
      background-color: var(--greenColor);
      border-radius: 100px;
   }
}

@keyframes navLinkFade {
   from {
      opacity: 0;
      transform: translateX(50px);
   }
   to {
      opacity: 1;
      transform: translateX(0px);
   }
}

.toggle .line1 {
   transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
   opacity: 0;
}
.toggle .line3 {
   transform: rotate(45deg) translate(-5px, -5px);
}
